body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.MainPage {
    border-radius: 25px;
    display: block;
    margin-top: 7%;
    padding: 50px;
    background-color: darkblue;


}

#peso {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 30px;
}

#altura {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#botao {
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-bottom: 15px;
}

#botao:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color: #5cbf2a;
}

#limpar {
    display: inline-block;
    margin-left: 40px;
    padding: 16px 31px;
    border-radius: 28px;
    background-color: darkred;
    border: 1px solid black;
    color: white;
    font-family: Arial;
    font-size: 17px;
    cursor: pointer;
}

#limpar:hover {
    background-color: firebrick;
}

#limpar:active {
    background-color: black;
}

.output,
#output,
h1 {
    display: block;
    color: white;
}