body{
    background-color: #000;
}

#iconeGithub {
    width: 2.5rem;
    height: 2.5rem;
    margin: -.2rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
}

.MainPage {
    border-radius: 25px;
    display: block;
    margin: 7% 25%;
    padding: 50px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

#peso {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 30px;
}

#altura {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botoes {
    display: inline-block;
}

#botao {
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-bottom: 15px;
}

#botao:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color: #5cbf2a;
}

#limpar {
    display: inline-block;
    margin-left: 40px;
    padding: 16px 31px;
    border-radius: 28px;
    background-color: darkred;
    border: 1px solid black;
    color: white;
    font-family: Arial;
    font-size: 17px;
    cursor: pointer;
}

#limpar:hover {
    background-color: firebrick;
}

#limpar:active {
    background-color: black;
}

.output,
#output,
h1 {
    display: block;
    color: white;
}

.resultadoIMC{
    display: block;
    width: 200px;
}

@media (max-width: 1200px) {
    .MainPage {
        width: 20rem;
    }
}

@media (max-width: 600px) {
    .MainPage {
        margin: 15% 4%;
        width: 15rem;
    }

    #botao {
        padding: 10px 20px;
    }
    #limpar{
        padding: 10px 18px;
     
    }

}